/* 
  Estilos Globales
  
  Aquí vamos a definir estilos y variables que se reutilicen en todo el sitio.

*/

:root {
  --green-color: #a8be43;
  --pink-color: #c03ce6;
  --dark-color: #13132f;
  --light-color: #f0f0f0;

  --dark-color-transparent: #13132f8a;

  --font-primary: 'Mi Fuentecita', sans-serif;
  --font-secondary: 'Lilita One', sans-serif;

  --space-small: 16px;
  --space-normal: 24px;
  --space-medium: 32px;
  --space-large: 48px;
  --space-xl: 56px;
  --space-2xl: 64px;

  /* Height for Scroll Offset */
  --offset-height: 124px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background-color: var(--light-color);
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--dark-color);
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.8rem;
}

button {
  cursor: pointer;
}

section {
  scroll-margin-top: var(--offset-height);
  margin-bottom: var(--space-2xl);
}

/* Buttons */

.button-primary {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  background-color: var(--green-color);
  color: var(--light-color);
  border-radius: 32px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 1.125rem;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  color: var(--dark-color);
  background-color: var(--pink-color);
}

.button-secondary {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 32px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 1.125rem;
  transition: background-color 0.3s ease;
}

.button-secondary:hover {
  color: var(--light-color);
  background-color: var(--pink-color);
}

/* Wrapper */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
