/* 
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Display - Bold";
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
} 
*/

body {
  font-family: 'Martel Sans', sans-serif;
}

h1 {
  font-family: 'Lilita One', sans-serif;
}
